@import 'tailwindcss';

@theme {
  --animate-flicker: flicker 1s ease-in-out infinite;
  @keyframes flicker {
    0%,
    100% {
      transform: scale(1) translate(0%, 0%);
      opacity: 0.8;
    }

    50% {
      transform: scale(1.05) translate(5%, 0%);
      opacity: 1;
    }
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@media (prefers-color-scheme: dark) {
  .glass-panel {
    background: rgba(15, 23, 42, 0.8);
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce {
  animation: bounce 2s infinite;
}